:root {
    --blue: #0D7DFF;
    --yellow: #0CE83C;
    --orange: #FFE300;
    --green: #E8520C;
    --red: #D400FF;
    --morado: blueviolet;
    --white: white;
    --theme-dark: #0e0953;
    --theme-light: #f0f0f0;
    --light: 300;
    --medium: 500;
    --bold: 700;
    --ancho-dado: 60px;
    --gradosX: 0deg;
    --gradosY: 0deg;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Kalam', cursive;
}
button {
    font-family: 'Montserrat', sans-serif;

}
body {
    background-color: var(--darker-blue);    
}
main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.tablero {
    scroll-snap-align: start;
    position: relative;
    height: 100vw;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 4px;
    background: linear-gradient(0deg, var(--darker-blue), var(--theme-blue));
}
.persona {
    background-color: var(--yellow);
}
.objeto {
    background-color: var(--blue);
}
.accion {
    background-color: var(--orange);
}
.dificil {
    background-color: var(--green);
}
.todos {
    background-color: var(--red);
}
.libre {
    background-color: deeppink;
}
.vacio1 {
    grid-area: 1/5/3/6;
}
.vacio2 {
    grid-area: 2/2/4/4;
}
.vacio3 {
    grid-area: 2/7/4/9;
}
.vacio4 {
    grid-area: 4/4/7/7;
}
.vacio5 {
    grid-area: 5/1/6/3;
}
.vacio6 {
    grid-area: 5/8/6/10;
}
.vacio7 {
    grid-area: 7/2/9/4;
}
.vacio8 {
    grid-area: 7/5/10/6;
}
.vacio9 {
    grid-area: 7/7/9/9;
}
.top-left {
    border-top-left-radius: 40%;
}
.top-right {
    border-top-right-radius: 40%;
}
.bottom-right {
    border-bottom-right-radius: 40%;
}
.bottom-left {
    border-bottom-left-radius: 40%;
}
.marcador {
    position: absolute;
    width: calc((100vw - 20px - (4px * 8))/9);
    height: calc((100vw - 20px - (4px * 8))/9);
}
.moveTokenDown {
    transition-duration: 3s;
    transition-timing-function: linear;
    transform: translateY(calc((100vh - 20px - (4px * 8))/9 + 4px));
}
.moveTokenUp {
    transition-duration: 3s;
    transition-timing-function: linear;
    transform: translateY(calc((100vh - 20px - (4px * 8))/-9 - 4px));
}
.moveTokenLeft {
    transition-duration: 3s;
    transition-timing-function: linear;
    transform: translateX(calc((100vh - 20px - (4px * 8))/-9 - 4px));
}
.moveTokenRight {
    transition-duration: 3s;
    transition-timing-function: linear;
    transform: translateX(calc((100vh - 20px - (4px * 8))/9 + 4px));
}
.marcador-1 {
    grid-column: 4;
    grid-row: 7;
}
.marcador-2 {
    grid-column: 4;
    grid-row: 7;
}
.marcador-3 {
    grid-column: 4;
    grid-row: 7;
}
.marcador-4 {
    grid-column: 4;
    grid-row: 7;
}

.controles {
    height: calc(100vh - 100vw);
    max-height: calc(100vh - 100vw);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
    padding-bottom: 60px;
    background-color: var(--darker-blue);
}
.controles--contenedor-boton {
    height: calc(66% - 10px);
    max-height: calc(66% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: var(--darker-blue);
}
/*use 90px para los iconos*/
.controles--boton {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: none;
    font-weight: var(--medium);
    font-size: 1.8rem;
    background-color: var(--theme-light);
    color: var(--theme-dark);
}
/* ---------------------------------------------------------------- */

.dice {
    margin-top: calc(var(--ancho-dado)/2);
    width: var(--ancho-dado);
    height: var(--ancho-dado);
    position: relative;
    transform-style: preserve-3d;
    /* transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg); */
    transition-duration: 10s;

}
.dice:hover {
    transform: rotateX(300deg) rotateY(200deg);
    transition-duration: 4s;
}
.lanzarDado {
    transform: rotateX(calc(3600deg + var(--gradosX))) rotateY(calc(1080deg + var(--gradosY)));
}
.side {
    width: var(--ancho-dado);
    height: var(--ancho-dado);
    border: 5px solid var(--theme-dark);
    background-color: var(--theme-light);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side::before {
    content: '';
    width: 20%;
    height: 20%;
    background: var(--theme-dark);
    border-radius: 50%;
}
.front {
    
    transform: translateZ(calc(var(--ancho-dado)/2));
}
.back {
    transform: translateZ(calc(var(--ancho-dado)/(-2)));
}
.left {
    transform:  translateX(calc(var(--ancho-dado)/(-2))) rotateY(90deg);
}
.right {
    transform: translateX(calc(var(--ancho-dado)/2)) rotateY(90deg) ;

}
.top {
    transform: translateY(calc(var(--ancho-dado)/2)) rotateX(90deg);
}
.bottom {
    transform: translateY(calc(var(--ancho-dado)/-2)) rotateX(90deg);
}
.left::before {
    background: transparent;
    box-shadow: 
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/-4) 0px 0px;
}
.back::before {
    box-shadow: 
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/4) 0px 0px;
}
.right::before {
    background: transparent;
    box-shadow:
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/4) 0px 0px;
}
.top::before {
    box-shadow:
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/4) 0px 0px;
}
.front::before {
    background: transparent;
    box-shadow:
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/-4) 0px 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/-4) calc(var(--ancho-dado)/4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/-4) 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) 0px 0px 0px,
    var(--theme-dark) calc(var(--ancho-dado)/4) calc(var(--ancho-dado)/4) 0px 0px;
}

    






/* ---------------------------------------------------------------- */


.controles--boton__temporizador {
    width: 100%;
    height: calc(33% - 10px);
}
.controles--boton span{
    display: inline-block;
    
    width: 30px;
    height: 30px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.controles--boton__temporizador {
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
}
.aumentar2{
    animation-name: animacion-aumentar2;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.aumentar4{
    animation-name: animacion-aumentar4;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.disminuir2{
    animation-name: animacion-disminuir2;
    animation-duration: 0.2s;
}
.disminuir4 {
    animation-name: animacion-disminuir4;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes animacion-aumentar2{
    0% {
        width: calc(50% - 10px);
    }
    100% {
        width: 100%;
    }
}
@keyframes animacion-aumentar4{
    0% {
        width: calc(50% - 10px);
        height: 100% - 10px;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes animacion-disminuir2{
    0% {
        width: 100%;
    }
    100% {
        width: calc(50% - 10px);
    }
}
@keyframes animacion-disminuir4{
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: calc(50% - 10px);
        height: 100% - 10px;
    }
}

.controles--boton__jugador1 span{
    background-image: url(../assets/icons/equis.png);
}
.controles--boton__jugador2 span{
    background-image: url(../assets/icons/circulo.png);
}
.controles--boton__jugador3 span{
    background-image: url(../assets/icons/rombo.png);
}
.controles--boton__jugador4 span{
    background-image: url(../assets/icons/cruz.png);
}
.controles--boton__temporizador span {
    background-image: url(../assets/icons/temporizador.png);
}

.baraja {
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darker-blue);

}
.baraja--tarjeta {
    height: 75%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: var(--darker-blue);

}
.baraja--lado-tarjeta {
    scroll-snap-align: center;
    width: 70vw;
    min-width: 300px;
    height: fit-content;
    margin: 30px 10px 20px;
    background: linear-gradient(20deg,var(--darker-blue) ,var(--theme-blue));
    box-shadow: 0 0 8px 2px #35334b;
    border-radius: 2px;
    background-color: var(--theme-light);

}
.baraja--lado-tarjeta h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    text-align: center;
    color: var(--theme-dark);
    margin-top: 30px;
}
.baraja--lado-tarjeta p {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    padding-left: 20px;
    border: 2px solid var(--theme-dark);
    border-radius: 5px;
}
.baraja--botones {
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.baraja--botones button {

    width: 250px;
    height: 100px;
    font-size: 3rem;
    border-radius: 8px;
    border: none;
    font-weight: var(--medium);
    background-color: var(--theme-light);
    color: var(--theme-dark);

}