main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.tablero {
    grid-area: 1/1/3/2;
    height: 100vh;
    width: 100vh;
}
.marcador {
    width: calc((100vh - 20px - (4px * 8))/9);
    height: calc((100vh - 20px - (4px * 8))/9);
}


.moveTokenDown {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(calc((100vh - 20px - (4px * 8))/9 + 4px));
}
.moveTokenUp {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(calc((100vh - 20px - (4px * 8))/-9 - 4px));
}
.moveTokenLeft {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(calc((100vh - 20px - (4px * 8))/-9 - 4px));
}
.moveTokenRight {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(calc((100vh - 20px - (4px * 8))/9 + 4px));
}



.controles {
    width: calc(100vw - 100vh);
    max-height: none;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding-bottom: 25px;
}
.controles--boton:hover {
    background: #dbdbdb;
    cursor: pointer;

}

.baraja {
    grid-column-start: 2;
    grid-row-start: 2;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
}
.baraja--contendor-tarjeta {
    height: 100%;
    width: 100%;
    perspective: 0;
    opacity: 0;
    transition-duration: 0.2s;
}
.baraja--contendor-tarjeta:hover {
    opacity: 1;
}
.baraja--botones :hover {
    background: #dbdbdb;
    cursor: pointer;
}
.baraja--tarjeta {
    width: 100%;
    height: 100%;
    padding-right: 30px;
    display: flex;
}
.baraja--lado-tarjeta {
    position: initial;
    transform: rotate(0deg);
    width: 50%;
    height: calc(100% - 40px);
    min-width: 100px;
    margin-top: 0;
    margin: 10px;
}
.baraja--lado-tarjeta h2 {
    font-size: 2.5rem;
    margin-top: 20px;
}
.baraja--lado-tarjeta p {
    font-size: 2rem;
}
.baraja--botones {
    width: 40%;
}
.baraja--botones button{
    width: 100%;
}