:root {
    --blue: #0D7DFF;
    --yellow: #0CE83C;
    --orange: #FFE300;
    --green: #E8520C;
    --red: #D400FF;
    --morado: blueviolet;
    --white: white;
    --theme-dark: #0e0953;
    --theme-light: #f0f0f0;
    --light: 300;
    --medium: 500;
    --bold: 700; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Kalam', cursive;
}
button {
    font-family: 'Montserrat', sans-serif;

}
body {
    background-color: var(--darker-blue);    
}
main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.tablero {
    scroll-snap-align: start;
    position: relative;
    height: 100vw;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 4px;
    background: linear-gradient(0deg, var(--darker-blue), var(--theme-blue));
}
.persona {
    background-color: var(--yellow);
}
.objeto {
    background-color: var(--blue);
}
.accion {
    background-color: var(--orange);
}
.dificil {
    background-color: var(--green);
}
.todos {
    background-color: var(--red);
}
.libre {
    background-color: deeppink;
}
.vacio1 {
    grid-area: 1/5/3/6;
}
.vacio2 {
    grid-area: 2/2/4/4;
}
.vacio3 {
    grid-area: 2/7/4/9;
}
.vacio4 {
    grid-area: 4/4/7/7;
}
.vacio5 {
    grid-area: 5/1/6/3;
}
.vacio6 {
    grid-area: 5/8/6/10;
}
.vacio7 {
    grid-area: 7/2/9/4;
}
.vacio8 {
    grid-area: 7/5/10/6;
}
.vacio9 {
    grid-area: 7/7/9/9;
}
.top-left {
    border-top-left-radius: 40%;
}
.top-right {
    border-top-right-radius: 40%;
}
.bottom-right {
    border-bottom-right-radius: 40%;
}
.bottom-left {
    border-bottom-left-radius: 40%;
}
.marcador {
    position: absolute;
    width: calc((100vw - 20px - (4px * 9))/9);
    height: calc((100vw - 20px - (4px * 9))/9);
}
.marcador-1 {
    grid-column: 1;
    grid-row: 3;
}
.marcador-2 {
    grid-column: 3;
    grid-row: 4;
}
.marcador-3 {
    grid-column: 1;
    grid-row: 6;
}
.marcador-4 {
    grid-column: 4;
    grid-row: 2;
}

.controles {
    height: calc(100vh - 100vw);
    max-height: calc(100vh - 100vw);
    display: grid;
    padding: 25px;
    padding-bottom: 60px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    background-color: var(--darker-blue);
}
/*use 90px para los iconos*/
.controles--boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: none;
    font-weight: var(--medium);
    font-size: 1.8rem;
    background-color: var(--theme-light);
    color: var(--theme-dark);
}
.controles--boton span{
    display: inline-block;
    
    width: 30px;
    height: 30px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.controles--boton__temporizador {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
}

.controles--boton__jugador1 span{
    background-image: url(../assets/icons/equis.png);
}
.controles--boton__jugador2 span{
    background-image: url(../assets/icons/circulo.png);
}
.controles--boton__jugador3 span{
    background-image: url(../assets/icons/rombo.png);
}
.controles--boton__jugador4 span{
    background-image: url(../assets/icons/cruz.png);
}
.controles--boton__temporizador span {
    background-image: url(../assets/icons/temporizador.png);
}

.baraja {
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--darker-blue);

}
.baraja--tarjeta {
    height: 75%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: var(--darker-blue);

}
.baraja--lado-tarjeta {
    scroll-snap-align: center;
    width: 70vw;
    min-width: 300px;
    height: fit-content;
    margin: 30px 10px 20px;
    background: linear-gradient(20deg,var(--darker-blue) ,var(--theme-blue));
    box-shadow: 0 0 8px 2px #35334b;
    border-radius: 2px;
    background-color: var(--theme-light);

}
.baraja--lado-tarjeta h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    text-align: center;
    color: var(--theme-dark);
    margin-top: 30px;
}
.baraja--lado-tarjeta p {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    padding-left: 20px;
    border: 2px solid var(--theme-dark);
    border-radius: 5px;
}
.baraja--botones {
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.baraja--botones button {

    width: 250px;
    height: 100px;
    font-size: 3rem;
    border-radius: 8px;
    border: none;
    font-weight: var(--medium);
    background-color: var(--theme-light);
    color: var(--theme-dark);

}