:root {

    --blue: #0D7DFF;
    --yellow: #0CE83C;
    --orange: #FFE300;
    --green: #E8520C;
    --red: #D400FF;
    --morado: blueviolet;
    --white: white;
    --theme-dark: #0e0953;
    --theme-light: #f0f0f0;
    --light: 300;
    --medium: 500;
    --bold: 700;
}
/*font-family: 'Cormorant Garamond', serif;
font-family: 'Kalam', cursive;
font-family: 'Montserrat', sans-serif;*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
button {
    font-family: 'Montserrat', sans-serif;
}
header {
    text-align: center;
    box-shadow: 0 0 8px 2px black;
}
header p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: var(--bold);
    font-size: 4rem;
    padding: 30px;
    color: var(--theme-dark);
}
main a {
    margin: 30px;
    list-style: none;
    background-color: var(--theme-light);
    border-radius: 10px;
}
main a:hover {
    background-color: rgb(95, 95, 95);
}
.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    font-size: 3.5rem;
    font-weight: var(--bold);
    padding: 20px;
    text-decoration: none;
    color: var(--theme-dark);
}
main ul span {
    display: inline-block;
    display: none;
    width: 80px;
    height: 80px;
    min-width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nueva-partida span {
    background-image: url(../assets/icons/pencil.png);

}
.solo-cartas span {
    background-image: url(../assets/icons/card.png);
}
.nuevo-juego {
    background-color: var(--yellow);
}
.continuar-juego {
    background-color: var(--blue);
}
.solo-cartas {
    background-color: var(--red);

}
.instrucciones {
    background-color: var(--green);

}
.informacion {
    background-color: var(--orange);

}
img {
    display: none;
}