:root {
    --blue: #5696dc;
    --yellow: #d5dc35;
    --orange: #ce9d28;
    --green: #98bf3f;
    --red: #c53a2b;
    --dark-blue: #0f0f0f;
    --theme-blue: #0d0a36;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
button {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: var(--dark-blue);
    height: 100vh;
}
header {
    background: linear-gradient(0deg, var(--dark-blue), var(--theme-blue));
}
header img {
    width: 90%;
    margin: 50px 5% 10px 5%;
}
main li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 8px;
    text-align: center;
    list-style: none;
    border: 1px solid white;
}
main a:hover {
    background-color: rgb(95, 95, 95);
}
.button {
    font-size: 3.5rem;
    padding: 20px;
    text-decoration: none;
    color: white;
}
main ul span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nueva-partida span {
    background-image: url(../assets/icons/pencil.png);

}
.solo-cartas span {
    background-image: url(../assets/icons/card.png);
}